// Styles pour le header
header {
  background-color: $color-background;

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $hr-margin;

    &-image {
      width: 150px;
      height: 150px;
      border: 4px solid $white;
      border-radius: 50%;
      margin-bottom: $header-margin-bottom;
      overflow: hidden;
    }
  }

  h1, p {
    color: $white;
  }

  h1 {
    margin: 0 0 5px;
  }

  p {
    margin: 0;
    font-size: $header-p-fs;
  }
}