/// Styles pour la classe hero

.hero {
  background-color: $white;
  background-image: url("../../images/7.jpg");
  background-position: center;
  background-size: cover;

  color: white;

  .texte-bienvenue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 400px;
    padding: 20px;
    background-color: rgba(95, 109, 126, 0.4);
  }

  h2, p {
    margin-left: rem(16);
    line-height: 1.2;
  }

  p {
    font-size: rem(22);
  }
}