// Styles pour la navigation
.nav-principale {
  .show-menu {
    display: block;
    text-align: center;
    color: $white;
    background-color: $color-background-nav;
    padding: 10px 0;
  }

  .toggle-menu {
    display: none;
  }

  .toggle-menu:checked + ul{
    display: block;
  }

  ul {
    padding: 0;
    margin: 0;
    display: none;

    a {
      display: flex;
      align-items: center;
      color: $color-link;
      padding: $nav-a-padding;

      &:hover {
        background-color: $color-link-hover
      }

      &.active, &.active:hover {
        background-color: $color-link-active;
      }
    }

    i {
      font-size: rem(24);
      margin-right: 15px;
    }
  }
}