//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleurs générales
$white: #fff;
$black: #000;

// Couleur de base 
$color-text: #777;
$color-background: #5f6d7e;
$color-background-nav: #555;

// Couleurs des liens
$color-link: #fff;
$color-link-hover: darken($color-background, 5%);
$color-link-active: darken($color-background, 15%);

// Couleur des hr
$color-hr: #ddd;