//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR

/// Dimensions pour les hr
$hr-height: 4px;
$hr-margin: 40px;

/// Dimensions pour le header
$header-margin-bottom: 20px;
$header-p-fs: rem(18);

/// Dimensions pour le nav
$nav-a-padding: 15px 40px;

/// Dimension pour les media query
$view-mid: 768px;
$view-small: 992px;
