//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE

/// Grosseur des headings
$fs-h1: rem(20);
$fs-h2: rem(42);
$fs-h3: $fs-h1;

/// Grosseur des textes
$fs-text-normal: rem(16);
$ln: 1.5;

/// Font family
$ff-text: Roboto, Helvetica, Arial, sans-serif;

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
